 
    <div class = "mm" style=" width: 1550px; height: 800px; background-image: url('../../../assets/images/5.PNG'); z-index: -1000;  background-repeat: no-repeat;">

    <div class="parentSize container">
        <div class="parent">

            <div class="text"> Register With Us </div>
            <div class="form-group">
                <label for="user" style=" text-align: right ;     padding-right: 40px;">  Pharmacy name </label>
                <input
                type="text" placeholder="pharmacy name" id="user" name="usern" onblur="checkOne()" style="width: 280px;" >
                <div id="div1"> </div>
            </div>


            <div class="form-group">
                <label for="user" style=" text-align: right ;     padding-right: 40px;"> Your supervisor </label>
                <input type="text" placeholder="supervisor name" id="user" name="usern" onblur="checkOne()"style="width: 280px;" >
                <div id="div1"> </div>
            </div>

            <div class="form-group">
                <label for="mail" style=" text-align: right ;     padding-right: 40px;"> Pharmacy Email </label>
                <input type="email" placeholder="Enter Email" id="mail" name="mail" onblur="checkTwo()"style="width: 280px;" >
                <div id="div2"> </div>
            </div>


            <div class="form-group">
                <label for="password" style=" text-align: right ;     padding-right: 31px;"> Pharmacy phone</label>
                <input type="password" placeholder="+36 " id="password" name="pass" onblur="checkThree()" style="width: 280px;" >
                <div id="div3"> </div>
            </div>

            <div class="form-group">
                <label for="password2" style=" text-align: right ;     padding-right: 88px;">Location  </label>
                <input type="password" placeholder="city - street" id="password2" name="pass" onblur="checkFour()"style="width: 280px;" >
                <div id="div4"> </div>
            </div>
            <div class="form-group">
                <label for="password2" style=" text-align: right ;     padding-right: 72px;">Availability  </label>
                <input type="password" placeholder="24 hours" id="password2" name="pass" onblur="checkFour()"style="width: 280px;" >
                <div id="div4"> </div>
            </div>
            <div>
                <div>
                    <!-- <label> Remember Password </label>
                    <input type="checkbox"> -->

                </div>
            </div>

            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <!-- <a href="password" routerLink="changepassword" routerLinkActive="active"> -->
                <!-- <i class="fa fa-users" aria-hidden="true"></i> Forget Password -->
                <!-- </a> -->

                <a class="btn btn-primary" href="index.html" style="margin-top: 10px; margin-left: 140px; width: 150px;" routerLink="login" > Sign up </a>
                <br>
                <br>

            </div>