<body>
    <p style="background-image: url('../../assets/images/Capture2.PNG'); width: 1490px; height: 680px; z-index: -1000;">
        <button type="button" style="color: rgb(117, 115, 115); width: 500px; height: 60px; border-color: white; margin-top: 260px ; margin-left: 100px; " [routerLink]="['/medicineform']" routerLinkActive="active">
            <h5 style="color: rgb(24, 24, 70); text-align: center;"> Selling your Extra Medicine</h5>
           </button>
<br>

           <button type="button" style="color: rgb(117, 115, 115); width: 500px; height: 60px; border-color: white; margin-top: 50px ; margin-left: 100px;" [routerLink]="['/medicineform']" routerLinkActive="active">
            <h5 style="color: rgb(24, 24, 70);text-align: center"> getting your Medicine</h5>
           </button>
           <br>
           <button class="nav-link" type="button" style="color: rgb(117, 115, 115); width: 500px; height: 60px; border-color: white; margin-top: 50px ; margin-left: 100px;" [routerLink]="['/medicineform']" routerLinkActive="active">
            <h5 style="color: rgb(24, 24, 70); text-align: center"> pharmacists </h5>
           </button>
    </p>



</body>
