<body>
<div class = "mm" style=" width: 1550px; height: 800px; background-image: url('../../../assets/images/5.PNG'); z-index: -1000;  background-repeat: no-repeat;">
<div class="c">

    <div class="parentSize container">
        <div class="parent">

            <div class="form-group">
                <label class="move" class="move1" for="user"> Username </label>
                <br>
                <br>
                <input type="text" placeholder="Enter username" id="user" name="usern" onblur="checkOne()" style="margin-left: 31px; margin-bottom:20px ; width:350px; ">
                <div id="div1"> </div>
            </div>


            <div class="form-group">
                <label class="move" for="user"> Password </label>
                <br>
                <br>
                <input type="text" placeholder="Enter password" id="user" name="usern" onblur="checkOne()"  style="margin-left: 31px; margin-bottom:-20px ; width:350px; ">
                <div id="div1"> </div>
            </div>

            <a href="" style="margin-top:20px ;"> forget your password ?</a>
            <div>
                <div>
                    <!-- <label> Remember Password </label>
                    <input type="checkbox"> -->

                </div>
            </div>

            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <!-- <a href="password" routerLink="changepassword" routerLinkActive="active"> -->
                <!-- <i class="fa fa-users" aria-hidden="true"></i> Forget Password -->
                <!-- </a> -->
                <br>
                <br>
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" routerLink="login" class="nav-link" type="button" style="margin-right:-10%; margin-left:-3px ;" class="btn btn-primary" >Register</button>
                <button class="nav-link" type="button" style="margin-right: 25%; width: 80px; " class="btn btn-primary" >Login</button>
            </div>


            <!-- <input class="btn btn-primary" type="submit" value="Submit" class="submit" onclick=" checkOne() ,checkTwo(), checkThree() , checkFour()" style="margin-left: 60px;"> -->
           
        </div>

    </div>
</div>
</div>
</body>
    <script>
        function checkOne() {
            if (document.getElementById("user").value < 3) {
                document.getElementById("div1").innerHTML = "Username must be at least 3 characters"
                document.getElementById("div1").style = " color: red; text-align:left "
                document.getElementById("user").style.border = "2px  solid red "
                    //  document.getElementById("user").focus();

            }
        }

        function checkTwo() {
            if (!(document.getElementById("mail").value == "/\S+@\S+\.\S+/")) {
                document.getElementById("div2").innerHTML = "Email is not valid"
                document.getElementById("div2").style = " color: red; text-align:left "
                document.getElementById("mail").style.border = "2px  solid red ";
                // document.getElementById("mail").focus();
            }
        }

        function checkThree() {
            if (document.getElementById("password").value < 6) {
                document.getElementById("div3").innerHTML = "Password must be at least 6 characters"
                document.getElementById("div3").style = " color: red; text-align:left "
                document.getElementById("password").style.border = "2px  solid red ";
                // document.getElementById("password").focus();
            }

        }

        function checkFour() {
            if (document.getElementById("password2").value < 6) {
                document.getElementById("div4").innerHTML = "Password2 is required"
                document.getElementById("div4").style = " color: red; text-align:left "
                document.getElementById("password2").style.border = "2px  solid red ";
                //  document.getElementById("password2").focus();
            }
        }
    </script>

