<div
  style="
    background-image: url('../../assets/images/7.PNG');
    width: 1520px;
    height: 665px;
    z-index: -1000;
    background-repeat: no-repeat;
  "
>
  <div
    class="mm"
    style="
      width: 1550px;
      height: 800px;
      background-image: url('../../../assets/images/5.PNG');
      z-index: -1000;
      background-repeat: no-repeat;
    "
  >
    <div
      style="
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
      "
    >
      <h1 style="margin: 20px">List of Medicines</h1>
      <!-- <a routerLink="/user-order">My Orders</a> -->
    </div>

    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef>Dosage</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip style="background: #9acde5; color: #fff">
                {{ element.quantity }} pills</mat-chip
              >
            </mat-chip-list>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="element.status === ''; else container">
              <button
                mat-raised-button
                color="primary"
                style="margin-right: 10px"
                (click)="buyMedicine(element, 'available')"
              >
                Available
              </button>
              <button
                mat-raised-button
                color="warn"
                (click)="buyMedicine(element, 'not')"
              >
                Not
              </button>
            </ng-container>
            <ng-template #container>
              <mat-chip-list>
                <mat-chip
                  [ngClass]="{
                    accepted: element.status === 'available',
                    rejected: element.status === 'not'
                  }"
                  style="color: #fff"
                >
                  {{
                    element.status == "not" ? "Rejected" : "Dispatch"
                  }}</mat-chip
                >
              </mat-chip-list>
            </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
