p{
    background-size: 100% 100%;
}

.container {
    padding-top: 30px;
    padding-left: 40px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    position: absolute;
    margin-top: -510px;
    margin-left: 910px;
    }
    body{
      background-image: ('../../../assets/images/4.jpg');
  }

  table {
    width: 100%;
    margin:20px;
  }
  .accepted{
    background: #ef7c5a;
  }
  .rejected{
    background: #eb163e
  }
