<p style="background-image: url('../../assets/images/7.PNG'); width: 1520px; height: 665px; z-index: -1000; background-repeat: no-repeat;"></p>

<div class="container"> 
    <div class="form-group">
        <label class="move" class="move1" for="user"> please enter the name of the medicine
        </label>
        <br>
        <br>
        <input type="text" placeholder="eg: panadole 500g" id="user" name="usern" onblur="checkOne()" style="margin-left: 31px; margin-bottom:20px ; width:350px; ">
        <div id="div1"> </div>
    </div>
    
    
    <div class="form-group">
        <label class="move" for="user"> the Quantity you need </label>
        <br>
        <br>
        <input type="text" placeholder="per tablet" id="user" name="usern" onblur="checkOne()"  style="margin-left: 31px; margin-bottom:-20px ; width:350px; ">
        <div id="div1"> </div>
    </div>
