<p style=" height: 800px; background-image: url('../../assets/images/3.PNG'); z-index: -1000;  background-repeat: no-repeat;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="../../assets/images/11.PNG" alt="Avatar"/>
        <img src="../../assets/images/22.PNG" alt="Avatar">
        <img src="../../assets/images/33.PNG" alt="Avatar">
        <img src="../../assets/images/44.PNG" alt="Avatar">
   
            <H3 id="l1" style="position:absolute ; margin-top: -140px; margin-left: 120px; z-index: 10990; color: antiquewhite;"> SUPPLIERS</H3>
            <H3 id="l2" style="position:absolute ; margin-top: -140px; margin-left: 480px; z-index: 10990; color: antiquewhite"> DEMANDERS</H3>
            <H3 id="l3" style="position:absolute ; margin-top: -140px; margin-left: 830px; z-index: 10990;color: antiquewhite"> PHARMACISTS</H3>
            <H3 id="l4" style="position:absolute ; margin-top: -140px; margin-left: 1240px; z-index: 10990;color: antiquewhite"> Delivery</H3 >
       

